<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>bachnv.filter.DispatchFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>bachnv.listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>bachnv.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFoodServlet</servlet-name>
        <servlet-class>bachnv.servlet.LoadFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFoodByNameServlet</servlet-name>
        <servlet-class>bachnv.servlet.SearchFoodByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFoodByCategoryServlet</servlet-name>
        <servlet-class>bachnv.servlet.SearchFoodByCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>bachnv.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFoodByPriceServlet</servlet-name>
        <servlet-class>bachnv.servlet.SearchFoodByPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFoodServlet</servlet-name>
        <servlet-class>bachnv.servlet.DeleteFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFoodServlet</servlet-name>
        <servlet-class>bachnv.servlet.UpdateFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFoodServlet</servlet-name>
        <servlet-class>bachnv.servlet.SearchFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFoodServlet</servlet-name>
        <servlet-class>bachnv.servlet.CreateFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodToCartServlet</servlet-name>
        <servlet-class>bachnv.servlet.AddFoodToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFoodFromCartServlet</servlet-name>
        <servlet-class>bachnv.servlet.RemoveFoodFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAmountFoodInCartServlet</servlet-name>
        <servlet-class>bachnv.servlet.UpdateAmountFoodInCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>bachnv.servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPurchaseHistoryServlet</servlet-name>
        <servlet-class>bachnv.servlet.ViewPurchaseHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateValuesServlet</servlet-name>
        <servlet-class>bachnv.servlet.UpdateValuesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFullFoodServlet</servlet-name>
        <servlet-class>bachnv.servlet.SearchFullFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWithGoogleServlet</servlet-name>
        <servlet-class>bachnv.servlet.LoginWithGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBillByDateServlet</servlet-name>
        <servlet-class>bachnv.servlet.SearchBillByDateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFoodServlet</servlet-name>
        <url-pattern>/LoadFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFoodByNameServlet</servlet-name>
        <url-pattern>/SearchFoodByNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFoodByCategoryServlet</servlet-name>
        <url-pattern>/SearchFoodByCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFoodByPriceServlet</servlet-name>
        <url-pattern>/SearchFoodByPriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFoodServlet</servlet-name>
        <url-pattern>/DeleteFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFoodServlet</servlet-name>
        <url-pattern>/UpdateFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFoodServlet</servlet-name>
        <url-pattern>/SearchFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFoodServlet</servlet-name>
        <url-pattern>/CreateFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodToCartServlet</servlet-name>
        <url-pattern>/AddFoodToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFoodFromCartServlet</servlet-name>
        <url-pattern>/RemoveFoodFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAmountFoodInCartServlet</servlet-name>
        <url-pattern>/UpdateAmountFoodInCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPurchaseHistoryServlet</servlet-name>
        <url-pattern>/ViewPurchaseHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateValuesServlet</servlet-name>
        <url-pattern>/UpdateValuesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFullFoodServlet</servlet-name>
        <url-pattern>/SearchFullFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWithGoogleServlet</servlet-name>
        <url-pattern>/LoginWithGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBillByDateServlet</servlet-name>
        <url-pattern>/SearchBillByDateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>HanaShop</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
